.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
}

.logo {
    width: 150px;
}

.cart-logo {
    width:30px;
}

.nav-items {
    margin-right: 50px;
    margin-top: 25px;
    font-size: large;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    margin-right: 15px;
}

.nav-items > ul > li {
    margin:10px;
    padding:10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    margin: 5px;
    padding: 5px;
    width: 200px;
}

.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.search {
    padding: 15px;
}

.food-logo {
    width:100%;
    height: 47%;
}